In [1]:
import pandas as pd
import numpy as np

In [2]:
seg_df = pd.read_csv('DATA SET FOR RFM-VALUE BASED SEGMENTATION.csv',sep=',')

In [3]:
seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22602 entries, 0 to 22601
Data columns (total 9 columns):
cust_id                 22602 non-null int64
No_of_days_frm_L_pur    22602 non-null int64
total_sale              22602 non-null float64
No_baskets              22602 non-null int64
item_cnt                22602 non-null int64
no_SKUs                 22602 non-null int64
no_Categories           22602 non-null int64
avg_no_prds_w_ret       22602 non-null float64
Flag_Multi_cat_p2       22602 non-null int64
dtypes: float64(2), int64(7)
memory usage: 1.6 MB

In [4]:
seg_df.head()

,cust_id,No_of_days_frm_L_pur,total_sale,No_baskets,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
0,347,3,444.00,4,47,25,5,11.75000,0
1,585,320,509871.48,27,19322,531,68,715.62963,0
2,885,115,2284.59,4,247,130,17,61.75000,1
3,1670,3,8092.17,28,553,306,114,19.75000,1
4,2188,428,200.50,1,51,14,2,51.00000,0

In [5]:
seg_df.columns

Index(['cust_id', 'No_of_days_frm_L_pur', 'total_sale', 'No_baskets',
       'item_cnt', 'no_SKUs', 'no_Categories', 'avg_no_prds_w_ret',
       'Flag_Multi_cat_p2'],
      dtype='object')

In [6]:
seg_df.rename(columns={'No_of_days_frm_L_pur': 'recency', 
                         'No_baskets': 'frequency', 
                         'total_sale': 'monetary_value'}, inplace=True)

In [7]:
seg_df.columns

Index(['cust_id', 'recency', 'monetary_value', 'frequency', 'item_cnt',
       'no_SKUs', 'no_Categories', 'avg_no_prds_w_ret', 'Flag_Multi_cat_p2'],
      dtype='object')

# Value based segmentation

In [8]:
# creating Deciles
seg_df['decile'] = pd.qcut(seg_df['monetary_value'], 10, labels=False)

In [9]:
seg_df.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile
0,347,3,444.00,4,47,25,5,11.75000,0,5
1,585,320,509871.48,27,19322,531,68,715.62963,0,9
2,885,115,2284.59,4,247,130,17,61.75000,1,8
3,1670,3,8092.17,28,553,306,114,19.75000,1,9
4,2188,428,200.50,1,51,14,2,51.00000,0,3

In [16]:
seg_df[seg_df.decile==9]

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile
1,585,320,509871.48,27,19322,531,68,715.629630,0,9
3,1670,3,8092.17,28,553,306,114,19.750000,1,9
15,4784,13,16500.54,36,1241,440,122,34.472222,1,9
32,10588,7,10680.75,45,498,311,126,11.066667,1,9
33,10956,39,3756.52,5,28,22,6,5.600000,1,9
38,13367,0,85299.23,50,2108,369,147,42.160000,1,9
46,17039,1,6672.50,18,220,107,50,12.222222,1,9
48,18233,80,3208.61,8,63,49,22,7.875000,1,9
49,18406,5,3472.21,10,327,190,35,32.700000,1,9
54,21260,84,5974.48,45,660,328,132,14.666667,1,9
55,21318,4,3596.09,17,197,105,47,11.588235,1,9
57,22164,7,3740.43,9,162,80,32,18.000000,1,9
60,22958,4,3843.83,16,160,93,45,10.000000,1,9
63,23121,9,10774.22,28,770,358,105,27.500000,1,9
65,24720,11,3182.10,16,128,65,33,8.000000,1,9
67,25499,28,6665.31,28,529,173,67,18.892857,1,9
73,28013,34,4128.69,5,102,34,14,20.400000,1,9
85,35276,148,2999.01,8,221,129,31,27.625000,1,9
87,39831,4,2807.76,17,150,72,33,8.823529,1,9
91,42764,51,3515.58,15,336,136,47,22.400000,1,9
92,42894,13,2991.27,20,184,164,77,9.200000,1,9
94,44052,9,3394.71,14,348,194,52,24.857143,1,9
99,54934,19,5372.18,19,955,270,52,50.263158,1,9
115,72074,2,4077.97,24,242,195,83,10.083333,1,9
122,82939,2,16909.64,67,1503,605,233,22.432836,1,9
123,83678,120,3448.56,14,253,111,45,18.071429,1,9
132,86082,33,7521.33,23,311,182,57,13.521739,1,9
134,90868,29,9689.55,30,586,218,80,19.533333,1,9
135,91698,11,4486.14,13,73,44,25,5.615385,1,9
136,91865,34,4261.04,3,52,34,8,17.333333,1,9
...,...,...,...,...,...,...,...,...,...,...
20911,129019681,2,3123.75,6,51,17,9,8.500000,1,9
20926,129042404,3,4871.46,8,114,50,17,14.250000,1,9
20932,129048736,72,3554.40,1,125,3,1,125.000000,0,9
20938,129055780,1,4055.20,3,32,6,4,10.666667,1,9
20963,129094339,19,2919.90,2,12,5,3,6.000000,1,9
21026,129189871,16,3603.10,10,32,15,12,3.200000,1,9
21029,129196221,69,17556.00,1,28,1,1,28.000000,0,9
21138,129376516,66,5467.00,1,14,3,1,14.000000,0,9
21230,129502170,59,5244.80,2,6,6,3,3.000000,1,9
21254,129548186,63,3538.00,1,2,2,1,2.000000,0,9
21260,129562263,61,8140.20,2,35,13,3,17.500000,1,9
21292,129601240,27,7857.00,3,22,10,5,7.333333,1,9
21341,129656167,61,4299.00,1,4,4,1,4.000000,0,9
21388,129739539,38,5974.80,2,32,24,5,16.000000,1,9
21437,129817444,38,18567.90,2,1080,8,4,540.000000,1,9
21498,129913288,56,3817.00,1,2,2,1,2.000000,0,9
21519,129945424,55,3600.10,1,3,3,3,3.000000,1,9
21533,129974488,32,3129.80,3,5,5,3,1.666667,1,9
21602,130109614,46,4948.00,1,1,1,1,1.000000,0,9
21613,130132306,28,3664.00,1,2,2,1,2.000000,0,9
21620,130141724,44,4948.00,1,1,1,1,1.000000,0,9
21791,130408600,37,4799.00,1,1,1,1,1.000000,0,9
21883,130559072,25,4899.00,1,1,1,1,1.000000,0,9
21889,130562419,14,3319.00,2,2,2,2,1.000000,1,9
21928,130640779,25,5698.50,1,159,4,2,159.000000,1,9
21947,130682082,31,4918.00,1,1,1,1,1.000000,0,9
21976,130762477,7,9679.50,3,5,4,3,1.666667,0,9
22002,130819224,28,8009.00,1,2,2,2,2.000000,1,9
22025,130880023,27,4899.00,1,2,2,2,2.000000,1,9
22541,132333110,3,3416.80,1,3,3,3,3.000000,1,9

In [10]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [11]:
#Profiling
VB_Profiling=seg_df.groupby(['decile']).apply(lambda x: x[col_kpi].mean())

In [12]:
profiling_output = VB_Profiling.T

In [13]:
profiling_output

decile,0,1,2,3,4,5,6,7,8,9
monetary_value,69.865536,107.423593,153.687809,229.448081,331.000137,474.869996,712.810314,1140.993296,2013.107841,7405.863361
recency,238.693761,197.436331,187.954405,170.429708,174.325066,123.691150,100.781858,77.999115,61.258407,50.987616
frequency,1.019772,1.018255,1.194776,1.683908,2.343667,2.805752,4.040265,6.153540,9.705752,18.102609
item_cnt,6.140598,10.094390,11.041169,18.546861,25.880425,34.734071,50.161504,80.302655,137.839823,354.333481
no_SKUs,3.235501,5.451024,5.681275,9.091954,12.349867,16.421239,25.389381,40.023894,65.577876,129.369306
no_Categories,1.648067,2.228406,2.354139,3.597259,4.984500,6.288938,9.525664,15.100442,24.642035,48.166298
avg_no_prds_w_ret,5.964572,9.995548,9.499277,11.684586,11.650923,14.139388,13.328497,14.260162,15.953250,24.099957
Flag_Multi_cat_p2,0.117311,0.334817,0.326251,0.416004,0.443313,0.588938,0.699558,0.799115,0.846903,0.865104

In [14]:
profiling_output.to_csv('profiling_output.csv')

# RFM SEGMENTATION

In [ ]:
#Method-1: Creating quartiles

#seg_df['R_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['F_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['M_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)

In [17]:
#Method-2: Creating quartiles

quantiles = seg_df[['frequency','monetary_value','recency' ]].quantile(q=[0.25,0.5,0.75])
quantiles

      frequency  monetary_value  recency
0.25        1.0         151.800     26.0
0.50        2.0         393.755     93.0
0.75        5.0        1117.725    225.0

In [18]:
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 1.0, 0.5: 2.0, 0.75: 5.0},
 'monetary_value': {0.25: 151.8, 0.5: 393.755, 0.75: 1117.725},
 'recency': {0.25: 26.0, 0.5: 93.0, 0.75: 225.0}}

In [19]:
#We create two classes for the RFM segmentation since, being high recency is bad, while high frequency and monetary value is good.
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [20]:
seg_df['R_Quartile'] = seg_df['recency'].apply(RClass, args=('recency',quantiles,))
seg_df['F_Quartile'] = seg_df['frequency'].apply(FMClass, args=('frequency',quantiles,))
seg_df['M_Quartile'] = seg_df['monetary_value'].apply(FMClass, args=('monetary_value',quantiles,))

In [21]:
seg_df.head()

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3

In [22]:
seg_df1=seg_df.assign(R_seg=np.nan, FM_seg =np.nan)
seg_df1.R_seg[seg_df['R_Quartile']==4] = "3.Churn"
seg_df1.R_seg[seg_df['R_Quartile']==2] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==3] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==1] = "1.Active"

seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==4)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==4)] = "0.Standard"

seg_df1.FM_seg.fillna("4.Premium", inplace=True)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [23]:
seg_df1.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile,R_seg,FM_seg
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2,1.Active,2.Gold
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1,3.Churn,4.Premium
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1,2.At Risk,4.Premium
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1,1.Active,4.Premium
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3,3.Churn,1.Silver

In [23]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [24]:
#Profiling
Profiling=seg_df1.groupby(['R_seg', 'FM_seg']).apply(lambda x: x[col_kpi].mean()).T

In [25]:
Profiling

R_seg                1.Active                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monetary_value     102.134684  242.719137  738.687137  3928.657833
recency             11.890020   12.228013   11.742424    10.924857
frequency            1.000000    1.596091    3.511164    14.798918
item_cnt             8.152749   16.244300   44.181021   238.825669
no_SKUs              4.472505    8.846906   21.535088   104.183950
no_Categories        1.902240    3.434853    8.086124    39.227532
avg_no_prds_w_ret    8.152749   10.463355   13.470282    15.814134
Flag_Multi_cat_p2    0.535642    0.721498    0.912281     0.972047

R_seg               2.At Risk                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monetary_value      98.560910  238.873325  780.129847  2366.371868
recency            121.963967  114.298795  101.602462    81.002498
frequency            1.000000    1.509237    3.247172     8.363835
item_cnt             8.047656   16.590361   41.909182   137.563710
no_SKUs              4.330105    8.208434   19.912176    55.733604
no_Categories        1.813638    3.110442    7.337991    20.828232
avg_no_prds_w_ret    8.047656   11.392303   13.988440    17.740587
Flag_Multi_cat_p2    0.419217    0.546586    0.718563     0.811680

R_seg                 3.Churn
FM_seg             0.Standard    1.Silver       2.Gold    4.Premium
monetary_value      94.664424  233.251813  1055.247251  3775.144343
recency            351.511019  330.308901   326.814343   309.363029
frequency            1.000000    1.479712     3.064542     4.786192
item_cnt             8.594595   17.469895    37.080478   137.200445
no_SKUs              4.600832    8.229712    14.170518    31.051225
no_Categories        2.095218    3.328534     6.287649    11.233853
avg_no_prds_w_ret    8.594595   11.961627    13.833625    24.139014
Flag_Multi_cat_p2    0.000000    0.000000     0.000000     0.000000

In [26]:
Profiling.to_csv('Profiling_rfm.csv')